*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow: hidden;
}

body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    height: 100vh;
    margin-top: 60px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #040024;
    color:white;
    text-align: center;
}
main{
    z-index: 100;
}

.bg-gradient{
    z-index: -1;
    width: 1300px;
    height: 1300px;
    margin-top: -300px;
}

.title > .firstline{
    font-weight: 100;
    font-size: 46px;
}

.title > .secondline{
    font-weight: 700;
    font-style: italic;
    font-size: 80px;
    margin-top: 10px;
    position: relative;
}

.logo1{
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}

.description{
    z-index: 10;
    margin-top: 34px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

#services{
    margin-top: 54px;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    gap: 24px;
}

#services .dot{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
}
.service{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    /* margin: 0 20px; */
    border: 1px solid #fff;
    font-size: 18px;
    padding: 10px 20px;
    transition: all 0.6s ease;
    border-radius: 30px;
}
.service:hover{
    background-color: #FFC549;
    color:black;
    transition: all 0.3s ease;
}



#social-links{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
}

.social-logo{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 1s ease;
}

.social-logo:hover{
    transition: all 0.3s ease;
    background-color: #FFC549;
    transform: rotate(-6deg);
}

footer{
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content:center;
}
footer > img{
    position: fixed;
    width: 140px;
    margin-top: 110px;
    /* width: 100%; */
    /* left: 50%;
    margin-left: auto;
    margin-right: auto; */
}

.star{
    position: absolute;
    top: -1%;
    right: 23.7%;
    width: 21px;
    height: 21px;
}
.star-y {
    position: absolute;
    top: -1%;
    left: 52%;
    width: 21px;
    height: 21px;
}

@media screen and (max-width: 768px) {
    body{
        margin-top: 40px;
    }
    .logo1{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .title .firstline{
        margin-top: 10px;
        font-size: 24px;
    }
    .title > .secondline{
        margin-top: 30px;
        font-size: 30px;
    }
    .star{
        /* width: 18px;
        height: 18px;
        top: 20%;
        left: 85%; */
        display: none;
    }
    .star-y{
        /* width: 18px;
        height: 18px;
        top: 20%;
        left: 52%; */
        display: none;
    }

    .description{
        width: 90%;
        text-align: center;
        margin-top: 26px;
    }

    #services{
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .service{
        font-size: 14px;
        padding: 8px 16px;
    }

    #social-links{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .social-logo{
        width: 40px;
        height: 40px;
    }

    footer > img{
        width: 100px;
        margin-top: 30px;
    }
    .bg-gradient{
        width: 500px;
        height: 500px;
        /* bottom: 1%; */
        margin-top: -100px;
        /* left: -34%; */
    }
}